* {
  font-family: 'Nunito', sans-serif;
}

html {
  background-color: #ffdf8c;
}

.App {
  margin: 3% 12%;
  background-color: white;
  border-radius: 10px;

  @media (max-width: 1800px) {
    & {
      margin-right: 3%;
      margin-left: 3%;
    }
  }

  .currentCategory {
    margin-left: 6%;
    font-weight: 800;
    font-size: 36px;
  }

  .mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 6%;
    margin-left: 4%;
    margin-right: 4%;
  }
}
