* {
  font-family: 'Nunito', sans-serif;
}

html {
  background-color: #ffdf8c;
}

.App {
  margin-top: 3%;
  margin-right: 12%;
  margin-left: 12%;
  background-color: white;
  border-radius: 10px;

  @media (max-width: 1800px) {
    & {
      margin-right: 3%;
      margin-left: 3%;
    }
  }
}
