@import 'router-link';

.container {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);

  .company {
    margin-left: 6%;
    margin-right: 5%;
    width: 345px;
    display: grid;
    grid-template-columns: 60px 1fr;
    column-gap: 5px;
    align-items: center;
    cursor: pointer;

    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: 800;
    }

    p {
      margin: 0;
      color: #7b7b7b;
    }

    img {
      width: 80%;
      object-fit: fill;
    }
  }

  .inputZone {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 48px;
    width: 27%;
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 1400px) {
      & {
        width: 31%;
      }
    }

    svg {
      width: 5%;
      margin-bottom: 2px;
      margin-right: 4px;
      margin-left: 15px;
    }

    .clearSearchField {
      position: absolute;
      right: 5%;
      top: 32%;
      width: 5%;
      opacity: 1;
      transition: all 0.1s;
      cursor: pointer;

      &:hover {
        path {
          fill: #000000;
        }
      }
    }

    input {
      border: none;
      font-size: 16px;
      position: absolute;
      left: 10%;
      width: 75%;

      &:focus {
        outline: none;
        font-size: 16px;
      }

      ::placeholder {
        font-size: 16px;
      }
    }
  }

  .cartButton {
    margin-left: 25%;
    @media (max-width: 1700px) {
      & {
        margin-left: 10%;
      }
    }

    button {
      background-color: #fe5f1e;
      border: 1px solid #fe5f1e;
      color: white;
      border-radius: 30px;
      width: 140%;
      height: 50px;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #f24701;
        border-color: #f24701;
      }

      div {
        margin-left: 11%;
        margin-right: 11%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;

        svg {
          margin-right: 5%;
        }

        .buttonDelimeter {
          width: 1px;
          height: 25px;
          background-color: rgba(255, 255, 255, 0.25);
          margin-left: 14px;
          margin-right: 14px;
        }
      }
    }
  }
}
